@import "../_base.scss";

#view-orbits,
#view-orbit {
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

#view-orbits {
	padding-top: 0.4rem;
	min-height: calc(100% - 0.4rem);
}

#no-orbits {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: calc(100% - 0.4rem);
	& > h4 {
		margin: 0;
		opacity: 0.7;
		max-width: 32rem;
		text-align: center;
	}
}

.bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		width: auto;
		margin-right: 0.8rem;
		display: inline-block;
		&:first-child {
			margin-left: 1.6rem;
		}
	}
	input {
		margin: 0.8rem;
		position: relative;
		display: inline-block;
	}
	.grow {
		flex-grow: 1;
	}
	.shrink {
		flex-shrink: 1;
	}
}
.orbits-top-bar {
	top: 0;
	z-index: 512;
	position: sticky;
	padding: 0.6rem 1.6rem;
	border-bottom-style: solid;
	border-bottom-width: 0.4rem;

	#total-tab-count {
		opacity: 0.7;
	}

	& > *:first-child {
		margin-left: 0 !important;
	}
}
.orbit-name-bar {
	#orbit-stamps {
		& > * {
			opacity: 0.7;
		}

		:first-child {
			display: none;
			margin-left: 0;
		}

		&:hover,
		&:focus,
		&:focus-within,
		&:active {
			:first-child {
				display: initial;
			}
			:last-child {
				display: none;
			}
		}
	}
}
.orbit-tablist-bar {
	top: 0;
	z-index: 512;
	position: sticky;
	margin-top: 0.4rem;
	border-bottom-style: solid;
	border-bottom-width: 0.4rem;

	#orbit-tab-count {
		opacity: 0.7;
	}
}

.colour-btn {
	& > input[type="color"] {
		display: none !important;
	}
}

#orbit-list,
#tab-list {
	margin: 0;
	display: grid;
	padding: 0.4rem;
	grid-gap: 0.8rem;
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

	& > .item {
		display: block;
		position: relative;

		& > .inner {
			outline: none;
			display: flex;
			padding: 0.8rem;
			position: relative;
			align-items: center;
			border-style: solid;
			flex-direction: row;
			border-width: 0.2rem;
			text-decoration: none;
			height: calc(100% - 0.2rem * 2 - 0.8rem * 2);

			.text {
				flex-grow: 1;
				align-self: center;
				display: inline-flex;
				flex-direction: column;

				.title {
					font-weight: bold;
				}

				.created {
					display: none;
				}

				.created,
				.updated {
					opacity: 0.5;
					font-size: 80%;
				}

				& > * {
					word-break: break-word;
					&:not(:first-child) {
						margin-top: 0.1rem;
					}
				}
			}

			&::before,
			&::after {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				content: " ";
				position: absolute;
			}
			&::after {
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
			}

			&:hover,
			&:focus,
			&:focus-within,
			&:active {
				z-index: 1;

				.text {
					.created {
						display: initial;
					}
					.updated {
						display: none;
					}
				}
			}

			&:hover,
			&:focus,
			&:focus-within {
				&::after {
					opacity: 1;
				}
			}
			&:active {
				&::after {
					opacity: 0.65;
				}
			}
		}

		&,
		& > .inner,
		& > .inner::before,
		& > .inner::after {
			border-radius: 0.4rem;
		}
	}

	&.search-active {
		& > .item:not(.in-search) {
			display: none;
		}
	}
}

#orbit-list {
	& > .item {
		& > .inner {
			.colour {
				$size: 1.1rem;
				width: $size;
				height: $size;
				min-width: $size;
				min-height: $size;
				position: relative;
				align-self: center;
				border-style: solid;
				margin-right: 0.6rem;
				border-width: 0.32rem;
				&::before,
				&::after {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 1;
					width: 100%;
					height: 100%;
					content: " ";
					position: absolute;
					@include transition(opacity);
				}
				&::before {
					z-index: -1;
				}
				&,
				&::before,
				&::after {
					border-radius: 50%;
				}
			}
			.text {
				.tab-count {
					opacity: 0.7;
				}
			}
			&:hover,
			&:focus,
			&:focus-within,
			&:active {
				.colour {
					&::before,
					&::after {
						opacity: 0;
					}
					// &::after {
					// 	opacity: 1;
					// }
				}
			}
		}
	}
}

#tab-list {
	& > .item {
		& > .inner {
			.favicon {
				/*width: 100%;
				height: 100%;*/
				align-self: center;
				margin-right: 0.6rem;
				image-rendering: auto;
			}

			&:hover,
			&:focus,
			&:active {
				.text {
					.url {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&[view-mode="0"] > .item > .inner .text .url {
		display: none;
	}
	&[view-mode="1"] > .item > .inner .text {
		.title {
			display: none;
		}
		.url {
			margin-top: 0;
		}
	}
}

@mixin colourpieces2($darkmode, $clr-fg, $clr-bg) {
	.funky-btn#delete,
	.funky-btn#undelete {
		@include funky-btn-bg(
			linear-gradient(
				to right top,
				#130924,
				#1c162f,
				#27203a,
				#322a45,
				#3d3551
			)
		);
	}
	.funky-btn#restore {
		@include funky-btn-bg(
			linear-gradient(
				to right top,
				#3d3551,
				#534774,
				#6a599a,
				#816cc1,
				#9980ea
			)
		);
	}

	.orbits-top-bar,
	.orbit-tablist-bar {
		background-color: $clr-bg;
		border-bottom-color: rgba($clr-fg, 0.16);
	}

	#orbit-list,
	#tab-list {
		& > .item {
			& > .inner {
				color: $clr-fg;
				border-color: transparent;
				&::before {
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
				}
				&::after {
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
						0 2px 2px rgba(0, 0, 0, 0.12),
						0 4px 4px rgba(0, 0, 0, 0.16),
						0 8px 8px rgba(0, 0, 0, 0.2);
				}

				&:hover {
					border-color: rgba($clr-fg, 0.15);
				}
				&:focus {
					border-color: rgba($clr-fg, 0.25);
				}
				&:active {
					border-color: rgba($clr-fg, 0.35);
				}
			}
		}
	}

	#orbit-list {
		& > .item {
			& > .inner {
				.colour {
					&::before {
						box-shadow: 0 0 0.2rem 0.32rem rgba(0, 0, 0, 0.2);
					}
					&::after {
						background-color: rgba($clr-bg, 0.64);
					}
				}
			}
		}
	}

	#tab-list {
		& > .item {
			& > .inner {
				.text {
					.url {
						color: #006589;
					}
				}
			}
		}
	}
}

html {
	@include colourpieces2(0, $base-clr-fg, $base-clr-bg);
}

html.darkmode {
	@include colourpieces2(1, $base-clr-bg, $base-clr-fg);
}
