html {
  font-family: "Comfortaa", cursive;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  html {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0 auto;
}

.container {
  padding: 1.6rem;
  position: relative;
}

.colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colours > * {
  margin: 0 0.4rem;
}

.funky-btn {
  width: auto;
  margin: 0.8rem;
  position: relative;
  display: inline-block;
}

.funky-btn::before {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn::before {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn::after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn > .gradient {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.funky-btn > .gradient::before {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.025s;
          transition-duration: 0.025s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn > .gradient::before {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn > .gradient::after {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn > .gradient::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn .btn {
  z-index: 0;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.2rem;
  font-weight: bold;
  word-wrap: anywhere;
  font-weight: inherit;
  font-family: inherit;
  padding: 1rem 1.8rem;
  display: inline-block;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.funky-btn:hover > .gradient::before, .funky-btn:focus > .gradient::before, .funky-btn.focus > .gradient::before, .funky-btn:active > .gradient::before, .funky-btn.active > .gradient::before, .funky-btn:focus-within > .gradient::before {
  opacity: 1;
}

.funky-btn:hover::before, .funky-btn:focus::before, .funky-btn.focus::before, .funky-btn:active::before, .funky-btn.active::before, .funky-btn:focus-within::before {
  opacity: 1;
}

.funky-btn:hover::after, .funky-btn:focus::after, .funky-btn.focus::after, .funky-btn:active::after, .funky-btn.active::after, .funky-btn:focus-within::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.funky-btn:active::before, .funky-btn.active::before {
  opacity: 0.7;
}

.funky-btn:active > .gradient::after, .funky-btn.active > .gradient::after {
  opacity: 0.12;
}

.funky-btn, .funky-btn::before, .funky-btn::after,
.funky-btn > .gradient::before,
.funky-btn > .gradient::after,
.funky-btn .btn {
  border-radius: 0.1rem;
}

.funky-btn.rounded, .funky-btn.rounded::before, .funky-btn.rounded::after,
.funky-btn.rounded > .gradient::before,
.funky-btn.rounded > .gradient::after,
.funky-btn.rounded .btn {
  border-radius: 3.2rem;
}

.funky-btn.bordered::after {
  top: 0.4rem;
  left: 0.4rem;
  width: calc(100% - 0.8rem);
  height: calc(100% - 0.8rem);
}

.funky-btn.bordered > .gradient::before {
  opacity: 1;
}

.funky-btn.bordered .btn {
  padding: 1rem 1.8rem;
}

.funky-btn.inverse::before {
  opacity: 1;
}

.funky-btn.inverse::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.funky-btn.inverse > .gradient::before {
  opacity: 1;
}

.funky-btn.inverse:hover > .gradient::before, .funky-btn.inverse:focus > .gradient::before, .funky-btn.inverse.focus > .gradient::before, .funky-btn.inverse:active > .gradient::before, .funky-btn.inverse.active > .gradient::before, .funky-btn.inverse:focus-within > .gradient::before {
  opacity: 0.3;
}

.funky-btn.inverse:hover::before, .funky-btn.inverse:focus::before, .funky-btn.inverse.focus::before, .funky-btn.inverse:active::before, .funky-btn.inverse.active::before, .funky-btn.inverse:focus-within::before {
  opacity: 0.55;
}

.funky-btn.inverse:hover::after, .funky-btn.inverse:focus::after, .funky-btn.inverse.focus::after, .funky-btn.inverse:active::after, .funky-btn.inverse.active::after, .funky-btn.inverse:focus-within::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.funky-btn.inverse:active::before, .funky-btn.inverse.active::before {
  opacity: 0;
}

.funky-btn.inverse:active > .gradient::after, .funky-btn.inverse.active > .gradient::after {
  opacity: 0;
}

.funky-btn.inverse.bordered > .gradient::before {
  opacity: 1;
}

.funky-btn.action .btn {
  width: 1.2rem;
  height: 1.2rem;
  padding: 1.06rem;
  word-wrap: initial;
}

.funky-btn.icon .btn {
  line-height: 1;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  outline: none;
  margin: 0.8rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.1;
  font-size: 1.2rem;
  word-wrap: anywhere;
  border-style: solid;
  border-width: 0.4rem;
  display: inline-block;
  border-radius: 0.1rem;
  word-break: break-word;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  padding: 0.6rem 1.4rem;
}

@media (prefers-reduced-motion) {
  input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).rounded {
  border-radius: 3.2rem;
}

html:not(.lightmode):not(.darkmode)::after {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  pointer-events: all;
}

html::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 1024;
  position: absolute;
  pointer-events: none;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #5e5e5e;
}

@media (prefers-reduced-motion) {
  html::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html {
  color: #333333;
  background: #eeeeee;
}

html a {
  color: #12d8eb;
}

html a:hover, html a:focus {
  color: #00a5e7;
}

html a:active {
  color: #2c6bc9;
}

html .funky-btn {
  /*&:not(.bordered) {
			&::after {
				box-shadow: 0 0 0 $funky-border-size rgba($clr-fg, 0.1) inset;
			}
		}*/
}

html .funky-btn::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
}

html .funky-btn::after {
  background: #eeeeee;
}

html .funky-btn > .gradient::after {
  background-color: #333333;
}

html .funky-btn .btn {
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

html .funky-btn:hover .btn, html .funky-btn:focus .btn, html .funky-btn.focus .btn, html .funky-btn:active .btn, html .funky-btn.active .btn, html .funky-btn:focus-within .btn {
  color: #eeeeee;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
  background: transparent !important;
}

html .funky-btn.inverse .btn {
  color: #eeeeee;
  background: transparent;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
}

html .funky-btn.inverse:hover .btn, html .funky-btn.inverse:focus .btn, html .funky-btn.inverse.focus .btn, html .funky-btn.inverse:active .btn, html .funky-btn.inverse.active .btn, html .funky-btn.inverse:focus-within .btn {
  color: transparent;
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
}

html .funky-btn > .gradient::before,
html .funky-btn .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0));
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0);
}

html .funky-btn.inverse:hover .btn, html .funky-btn.inverse:focus .btn, html .funky-btn.inverse.focus .btn, html .funky-btn.inverse:active .btn, html .funky-btn.inverse.active .btn, html .funky-btn.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0)) !important;
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0) !important;
}

html .funky-btn.icon .btn {
  color: initial;
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  color: #eeeeee;
  background: #333333;
  border-color: transparent;
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):hover {
  border-color: rgba(238, 238, 238, 0.25);
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).focus, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus-within {
  border-color: rgba(238, 238, 238, 0.45);
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):active, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).active {
  border-color: rgba(238, 238, 238, 0.6);
}

html.darkmode {
  color: #eeeeee;
  background: #333333;
}

html.darkmode a {
  color: #12d8eb;
}

html.darkmode a:hover, html.darkmode a:focus {
  color: #00a5e7;
}

html.darkmode a:active {
  color: #2c6bc9;
}

html.darkmode .funky-btn {
  /*&:not(.bordered) {
			&::after {
				box-shadow: 0 0 0 $funky-border-size rgba($clr-fg, 0.1) inset;
			}
		}*/
}

html.darkmode .funky-btn::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
}

html.darkmode .funky-btn::after {
  background: #333333;
}

html.darkmode .funky-btn > .gradient::after {
  background-color: #eeeeee;
}

html.darkmode .funky-btn .btn {
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

html.darkmode .funky-btn:hover .btn, html.darkmode .funky-btn:focus .btn, html.darkmode .funky-btn.focus .btn, html.darkmode .funky-btn:active .btn, html.darkmode .funky-btn.active .btn, html.darkmode .funky-btn:focus-within .btn {
  color: #333333;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
  background: transparent !important;
}

html.darkmode .funky-btn.inverse .btn {
  color: #333333;
  background: transparent;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
}

html.darkmode .funky-btn.inverse:hover .btn, html.darkmode .funky-btn.inverse:focus .btn, html.darkmode .funky-btn.inverse.focus .btn, html.darkmode .funky-btn.inverse:active .btn, html.darkmode .funky-btn.inverse.active .btn, html.darkmode .funky-btn.inverse:focus-within .btn {
  color: transparent;
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
}

html.darkmode .funky-btn > .gradient::before,
html.darkmode .funky-btn .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0));
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0);
}

html.darkmode .funky-btn.inverse:hover .btn, html.darkmode .funky-btn.inverse:focus .btn, html.darkmode .funky-btn.inverse.focus .btn, html.darkmode .funky-btn.inverse:active .btn, html.darkmode .funky-btn.inverse.active .btn, html.darkmode .funky-btn.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0)) !important;
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0) !important;
}

html.darkmode .funky-btn.icon .btn {
  color: initial;
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  color: #333333;
  background: #eeeeee;
  border-color: transparent;
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):hover {
  border-color: rgba(51, 51, 51, 0.25);
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).focus, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus-within {
  border-color: rgba(51, 51, 51, 0.45);
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):active, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).active {
  border-color: rgba(51, 51, 51, 0.6);
}

#view-orbits,
#view-orbit {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

#view-orbits {
  padding-top: 0.4rem;
  min-height: calc(100% - 0.4rem);
}

#no-orbits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - 0.4rem);
}

#no-orbits > h4 {
  margin: 0;
  opacity: 0.7;
  max-width: 32rem;
  text-align: center;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bar h1,
.bar h2,
.bar h3,
.bar h4,
.bar h5,
.bar h6 {
  margin: 0;
  width: auto;
  margin-right: 0.8rem;
  display: inline-block;
}

.bar h1:first-child,
.bar h2:first-child,
.bar h3:first-child,
.bar h4:first-child,
.bar h5:first-child,
.bar h6:first-child {
  margin-left: 1.6rem;
}

.bar input {
  margin: 0.8rem;
  position: relative;
  display: inline-block;
}

.bar .grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bar .shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.orbits-top-bar {
  top: 0;
  z-index: 512;
  position: -webkit-sticky;
  position: sticky;
  padding: 0.6rem 1.6rem;
  border-bottom-style: solid;
  border-bottom-width: 0.4rem;
}

.orbits-top-bar #total-tab-count {
  opacity: 0.7;
}

.orbits-top-bar > *:first-child {
  margin-left: 0 !important;
}

.orbit-name-bar #orbit-stamps > * {
  opacity: 0.7;
}

.orbit-name-bar #orbit-stamps :first-child {
  display: none;
  margin-left: 0;
}

.orbit-name-bar #orbit-stamps:hover :first-child, .orbit-name-bar #orbit-stamps:focus :first-child, .orbit-name-bar #orbit-stamps:focus-within :first-child, .orbit-name-bar #orbit-stamps:active :first-child {
  display: initial;
}

.orbit-name-bar #orbit-stamps:hover :last-child, .orbit-name-bar #orbit-stamps:focus :last-child, .orbit-name-bar #orbit-stamps:focus-within :last-child, .orbit-name-bar #orbit-stamps:active :last-child {
  display: none;
}

.orbit-tablist-bar {
  top: 0;
  z-index: 512;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0.4rem;
  border-bottom-style: solid;
  border-bottom-width: 0.4rem;
}

.orbit-tablist-bar #orbit-tab-count {
  opacity: 0.7;
}

.colour-btn > input[type="color"] {
  display: none !important;
}

#orbit-list,
#tab-list {
  margin: 0;
  display: -ms-grid;
  display: grid;
  padding: 0.4rem;
  grid-gap: 0.8rem;
  list-style: none;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

#orbit-list > .item,
#tab-list > .item {
  display: block;
  position: relative;
}

#orbit-list > .item > .inner,
#tab-list > .item > .inner {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-width: 0.2rem;
  text-decoration: none;
  height: calc(100% - 0.2rem * 2 - 0.8rem * 2);
}

#orbit-list > .item > .inner .text,
#tab-list > .item > .inner .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#orbit-list > .item > .inner .text .title,
#tab-list > .item > .inner .text .title {
  font-weight: bold;
}

#orbit-list > .item > .inner .text .created,
#tab-list > .item > .inner .text .created {
  display: none;
}

#orbit-list > .item > .inner .text .created,
#orbit-list > .item > .inner .text .updated,
#tab-list > .item > .inner .text .created,
#tab-list > .item > .inner .text .updated {
  opacity: 0.5;
  font-size: 80%;
}

#orbit-list > .item > .inner .text > *,
#tab-list > .item > .inner .text > * {
  word-break: break-word;
}

#orbit-list > .item > .inner .text > *:not(:first-child),
#tab-list > .item > .inner .text > *:not(:first-child) {
  margin-top: 0.1rem;
}

#orbit-list > .item > .inner::before, #orbit-list > .item > .inner::after,
#tab-list > .item > .inner::before,
#tab-list > .item > .inner::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
}

#orbit-list > .item > .inner::after,
#tab-list > .item > .inner::after {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

#orbit-list > .item > .inner:hover, #orbit-list > .item > .inner:focus, #orbit-list > .item > .inner:focus-within, #orbit-list > .item > .inner:active,
#tab-list > .item > .inner:hover,
#tab-list > .item > .inner:focus,
#tab-list > .item > .inner:focus-within,
#tab-list > .item > .inner:active {
  z-index: 1;
}

#orbit-list > .item > .inner:hover .text .created, #orbit-list > .item > .inner:focus .text .created, #orbit-list > .item > .inner:focus-within .text .created, #orbit-list > .item > .inner:active .text .created,
#tab-list > .item > .inner:hover .text .created,
#tab-list > .item > .inner:focus .text .created,
#tab-list > .item > .inner:focus-within .text .created,
#tab-list > .item > .inner:active .text .created {
  display: initial;
}

#orbit-list > .item > .inner:hover .text .updated, #orbit-list > .item > .inner:focus .text .updated, #orbit-list > .item > .inner:focus-within .text .updated, #orbit-list > .item > .inner:active .text .updated,
#tab-list > .item > .inner:hover .text .updated,
#tab-list > .item > .inner:focus .text .updated,
#tab-list > .item > .inner:focus-within .text .updated,
#tab-list > .item > .inner:active .text .updated {
  display: none;
}

#orbit-list > .item > .inner:hover::after, #orbit-list > .item > .inner:focus::after, #orbit-list > .item > .inner:focus-within::after,
#tab-list > .item > .inner:hover::after,
#tab-list > .item > .inner:focus::after,
#tab-list > .item > .inner:focus-within::after {
  opacity: 1;
}

#orbit-list > .item > .inner:active::after,
#tab-list > .item > .inner:active::after {
  opacity: 0.65;
}

#orbit-list > .item,
#orbit-list > .item > .inner,
#orbit-list > .item > .inner::before,
#orbit-list > .item > .inner::after,
#tab-list > .item,
#tab-list > .item > .inner,
#tab-list > .item > .inner::before,
#tab-list > .item > .inner::after {
  border-radius: 0.4rem;
}

#orbit-list.search-active > .item:not(.in-search),
#tab-list.search-active > .item:not(.in-search) {
  display: none;
}

#orbit-list > .item > .inner .colour {
  width: 1.1rem;
  height: 1.1rem;
  min-width: 1.1rem;
  min-height: 1.1rem;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-style: solid;
  margin-right: 0.6rem;
  border-width: 0.32rem;
}

#orbit-list > .item > .inner .colour::before, #orbit-list > .item > .inner .colour::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  #orbit-list > .item > .inner .colour::before, #orbit-list > .item > .inner .colour::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

#orbit-list > .item > .inner .colour::before {
  z-index: -1;
}

#orbit-list > .item > .inner .colour, #orbit-list > .item > .inner .colour::before, #orbit-list > .item > .inner .colour::after {
  border-radius: 50%;
}

#orbit-list > .item > .inner .text .tab-count {
  opacity: 0.7;
}

#orbit-list > .item > .inner:hover .colour::before, #orbit-list > .item > .inner:hover .colour::after, #orbit-list > .item > .inner:focus .colour::before, #orbit-list > .item > .inner:focus .colour::after, #orbit-list > .item > .inner:focus-within .colour::before, #orbit-list > .item > .inner:focus-within .colour::after, #orbit-list > .item > .inner:active .colour::before, #orbit-list > .item > .inner:active .colour::after {
  opacity: 0;
}

#tab-list > .item > .inner .favicon {
  /*width: 100%;
				height: 100%;*/
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.6rem;
  image-rendering: auto;
}

#tab-list > .item > .inner:hover .text .url, #tab-list > .item > .inner:focus .text .url, #tab-list > .item > .inner:active .text .url {
  text-decoration: underline;
}

#tab-list[view-mode="0"] > .item > .inner .text .url {
  display: none;
}

#tab-list[view-mode="1"] > .item > .inner .text .title {
  display: none;
}

#tab-list[view-mode="1"] > .item > .inner .text .url {
  margin-top: 0;
}

html .funky-btn#delete > .gradient::before,
html .funky-btn#delete .btn,
html .funky-btn#undelete > .gradient::before,
html .funky-btn#undelete .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#130924), color-stop(#1c162f), color-stop(#27203a), color-stop(#322a45), to(#3d3551));
  background-image: linear-gradient(to right top, #130924, #1c162f, #27203a, #322a45, #3d3551);
}

html .funky-btn#delete.inverse:hover .btn, html .funky-btn#delete.inverse:focus .btn, html .funky-btn#delete.inverse.focus .btn, html .funky-btn#delete.inverse:active .btn, html .funky-btn#delete.inverse.active .btn, html .funky-btn#delete.inverse:focus-within .btn,
html .funky-btn#undelete.inverse:hover .btn,
html .funky-btn#undelete.inverse:focus .btn,
html .funky-btn#undelete.inverse.focus .btn,
html .funky-btn#undelete.inverse:active .btn,
html .funky-btn#undelete.inverse.active .btn,
html .funky-btn#undelete.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#130924), color-stop(#1c162f), color-stop(#27203a), color-stop(#322a45), to(#3d3551)) !important;
  background-image: linear-gradient(to right top, #130924, #1c162f, #27203a, #322a45, #3d3551) !important;
}

html .funky-btn#restore > .gradient::before,
html .funky-btn#restore .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#534774), color-stop(#6a599a), color-stop(#816cc1), to(#9980ea));
  background-image: linear-gradient(to right top, #3d3551, #534774, #6a599a, #816cc1, #9980ea);
}

html .funky-btn#restore.inverse:hover .btn, html .funky-btn#restore.inverse:focus .btn, html .funky-btn#restore.inverse.focus .btn, html .funky-btn#restore.inverse:active .btn, html .funky-btn#restore.inverse.active .btn, html .funky-btn#restore.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#534774), color-stop(#6a599a), color-stop(#816cc1), to(#9980ea)) !important;
  background-image: linear-gradient(to right top, #3d3551, #534774, #6a599a, #816cc1, #9980ea) !important;
}

html .orbits-top-bar,
html .orbit-tablist-bar {
  background-color: #eeeeee;
  border-bottom-color: rgba(51, 51, 51, 0.16);
}

html #orbit-list > .item > .inner,
html #tab-list > .item > .inner {
  color: #333333;
  border-color: transparent;
}

html #orbit-list > .item > .inner::before,
html #tab-list > .item > .inner::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

html #orbit-list > .item > .inner::after,
html #tab-list > .item > .inner::after {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

html #orbit-list > .item > .inner:hover,
html #tab-list > .item > .inner:hover {
  border-color: rgba(51, 51, 51, 0.15);
}

html #orbit-list > .item > .inner:focus,
html #tab-list > .item > .inner:focus {
  border-color: rgba(51, 51, 51, 0.25);
}

html #orbit-list > .item > .inner:active,
html #tab-list > .item > .inner:active {
  border-color: rgba(51, 51, 51, 0.35);
}

html #orbit-list > .item > .inner .colour::before {
  -webkit-box-shadow: 0 0 0.2rem 0.32rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.2rem 0.32rem rgba(0, 0, 0, 0.2);
}

html #orbit-list > .item > .inner .colour::after {
  background-color: rgba(238, 238, 238, 0.64);
}

html #tab-list > .item > .inner .text .url {
  color: #006589;
}

html.darkmode .funky-btn#delete > .gradient::before,
html.darkmode .funky-btn#delete .btn,
html.darkmode .funky-btn#undelete > .gradient::before,
html.darkmode .funky-btn#undelete .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#130924), color-stop(#1c162f), color-stop(#27203a), color-stop(#322a45), to(#3d3551));
  background-image: linear-gradient(to right top, #130924, #1c162f, #27203a, #322a45, #3d3551);
}

html.darkmode .funky-btn#delete.inverse:hover .btn, html.darkmode .funky-btn#delete.inverse:focus .btn, html.darkmode .funky-btn#delete.inverse.focus .btn, html.darkmode .funky-btn#delete.inverse:active .btn, html.darkmode .funky-btn#delete.inverse.active .btn, html.darkmode .funky-btn#delete.inverse:focus-within .btn,
html.darkmode .funky-btn#undelete.inverse:hover .btn,
html.darkmode .funky-btn#undelete.inverse:focus .btn,
html.darkmode .funky-btn#undelete.inverse.focus .btn,
html.darkmode .funky-btn#undelete.inverse:active .btn,
html.darkmode .funky-btn#undelete.inverse.active .btn,
html.darkmode .funky-btn#undelete.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#130924), color-stop(#1c162f), color-stop(#27203a), color-stop(#322a45), to(#3d3551)) !important;
  background-image: linear-gradient(to right top, #130924, #1c162f, #27203a, #322a45, #3d3551) !important;
}

html.darkmode .funky-btn#restore > .gradient::before,
html.darkmode .funky-btn#restore .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#534774), color-stop(#6a599a), color-stop(#816cc1), to(#9980ea));
  background-image: linear-gradient(to right top, #3d3551, #534774, #6a599a, #816cc1, #9980ea);
}

html.darkmode .funky-btn#restore.inverse:hover .btn, html.darkmode .funky-btn#restore.inverse:focus .btn, html.darkmode .funky-btn#restore.inverse.focus .btn, html.darkmode .funky-btn#restore.inverse:active .btn, html.darkmode .funky-btn#restore.inverse.active .btn, html.darkmode .funky-btn#restore.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#534774), color-stop(#6a599a), color-stop(#816cc1), to(#9980ea)) !important;
  background-image: linear-gradient(to right top, #3d3551, #534774, #6a599a, #816cc1, #9980ea) !important;
}

html.darkmode .orbits-top-bar,
html.darkmode .orbit-tablist-bar {
  background-color: #333333;
  border-bottom-color: rgba(238, 238, 238, 0.16);
}

html.darkmode #orbit-list > .item > .inner,
html.darkmode #tab-list > .item > .inner {
  color: #eeeeee;
  border-color: transparent;
}

html.darkmode #orbit-list > .item > .inner::before,
html.darkmode #tab-list > .item > .inner::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

html.darkmode #orbit-list > .item > .inner::after,
html.darkmode #tab-list > .item > .inner::after {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

html.darkmode #orbit-list > .item > .inner:hover,
html.darkmode #tab-list > .item > .inner:hover {
  border-color: rgba(238, 238, 238, 0.15);
}

html.darkmode #orbit-list > .item > .inner:focus,
html.darkmode #tab-list > .item > .inner:focus {
  border-color: rgba(238, 238, 238, 0.25);
}

html.darkmode #orbit-list > .item > .inner:active,
html.darkmode #tab-list > .item > .inner:active {
  border-color: rgba(238, 238, 238, 0.35);
}

html.darkmode #orbit-list > .item > .inner .colour::before {
  -webkit-box-shadow: 0 0 0.2rem 0.32rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.2rem 0.32rem rgba(0, 0, 0, 0.2);
}

html.darkmode #orbit-list > .item > .inner .colour::after {
  background-color: rgba(51, 51, 51, 0.64);
}

html.darkmode #tab-list > .item > .inner .text .url {
  color: #006589;
}
/*# sourceMappingURL=style.css.map */