html {
  font-family: "Comfortaa", cursive;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  html {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0 auto;
}

.container {
  padding: 1.6rem;
  position: relative;
}

.colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colours > * {
  margin: 0 0.4rem;
}

.funky-btn {
  width: auto;
  margin: 0.8rem;
  position: relative;
  display: inline-block;
}

.funky-btn::before {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn::before {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn::after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn > .gradient {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.funky-btn > .gradient::before {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.025s;
          transition-duration: 0.025s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn > .gradient::before {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn > .gradient::after {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@media (prefers-reduced-motion) {
  .funky-btn > .gradient::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.funky-btn .btn {
  z-index: 0;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.2rem;
  font-weight: bold;
  word-wrap: anywhere;
  font-weight: inherit;
  font-family: inherit;
  padding: 1rem 1.8rem;
  display: inline-block;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.funky-btn:hover > .gradient::before, .funky-btn:focus > .gradient::before, .funky-btn.focus > .gradient::before, .funky-btn:active > .gradient::before, .funky-btn.active > .gradient::before, .funky-btn:focus-within > .gradient::before {
  opacity: 1;
}

.funky-btn:hover::before, .funky-btn:focus::before, .funky-btn.focus::before, .funky-btn:active::before, .funky-btn.active::before, .funky-btn:focus-within::before {
  opacity: 1;
}

.funky-btn:hover::after, .funky-btn:focus::after, .funky-btn.focus::after, .funky-btn:active::after, .funky-btn.active::after, .funky-btn:focus-within::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.funky-btn:active::before, .funky-btn.active::before {
  opacity: 0.7;
}

.funky-btn:active > .gradient::after, .funky-btn.active > .gradient::after {
  opacity: 0.12;
}

.funky-btn, .funky-btn::before, .funky-btn::after,
.funky-btn > .gradient::before,
.funky-btn > .gradient::after,
.funky-btn .btn {
  border-radius: 0.1rem;
}

.funky-btn.rounded, .funky-btn.rounded::before, .funky-btn.rounded::after,
.funky-btn.rounded > .gradient::before,
.funky-btn.rounded > .gradient::after,
.funky-btn.rounded .btn {
  border-radius: 3.2rem;
}

.funky-btn.bordered::after {
  top: 0.4rem;
  left: 0.4rem;
  width: calc(100% - 0.8rem);
  height: calc(100% - 0.8rem);
}

.funky-btn.bordered > .gradient::before {
  opacity: 1;
}

.funky-btn.bordered .btn {
  padding: 1rem 1.8rem;
}

.funky-btn.inverse::before {
  opacity: 1;
}

.funky-btn.inverse::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.funky-btn.inverse > .gradient::before {
  opacity: 1;
}

.funky-btn.inverse:hover > .gradient::before, .funky-btn.inverse:focus > .gradient::before, .funky-btn.inverse.focus > .gradient::before, .funky-btn.inverse:active > .gradient::before, .funky-btn.inverse.active > .gradient::before, .funky-btn.inverse:focus-within > .gradient::before {
  opacity: 0.3;
}

.funky-btn.inverse:hover::before, .funky-btn.inverse:focus::before, .funky-btn.inverse.focus::before, .funky-btn.inverse:active::before, .funky-btn.inverse.active::before, .funky-btn.inverse:focus-within::before {
  opacity: 0.55;
}

.funky-btn.inverse:hover::after, .funky-btn.inverse:focus::after, .funky-btn.inverse.focus::after, .funky-btn.inverse:active::after, .funky-btn.inverse.active::after, .funky-btn.inverse:focus-within::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.funky-btn.inverse:active::before, .funky-btn.inverse.active::before {
  opacity: 0;
}

.funky-btn.inverse:active > .gradient::after, .funky-btn.inverse.active > .gradient::after {
  opacity: 0;
}

.funky-btn.inverse.bordered > .gradient::before {
  opacity: 1;
}

.funky-btn.action .btn {
  width: 1.2rem;
  height: 1.2rem;
  padding: 1.06rem;
  word-wrap: initial;
}

.funky-btn.icon .btn {
  line-height: 1;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  outline: none;
  margin: 0.8rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.1;
  font-size: 1.2rem;
  word-wrap: anywhere;
  border-style: solid;
  border-width: 0.4rem;
  display: inline-block;
  border-radius: 0.1rem;
  word-break: break-word;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  padding: 0.6rem 1.4rem;
}

@media (prefers-reduced-motion) {
  input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).rounded {
  border-radius: 3.2rem;
}

html:not(.lightmode):not(.darkmode)::after {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  pointer-events: all;
}

html::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 1024;
  position: absolute;
  pointer-events: none;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #5e5e5e;
}

@media (prefers-reduced-motion) {
  html::after {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html {
  color: #333333;
  background: #eeeeee;
}

html a {
  color: #12d8eb;
}

html a:hover, html a:focus {
  color: #00a5e7;
}

html a:active {
  color: #2c6bc9;
}

html .funky-btn {
  /*&:not(.bordered) {
			&::after {
				box-shadow: 0 0 0 $funky-border-size rgba($clr-fg, 0.1) inset;
			}
		}*/
}

html .funky-btn::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
}

html .funky-btn::after {
  background: #eeeeee;
}

html .funky-btn > .gradient::after {
  background-color: #333333;
}

html .funky-btn .btn {
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

html .funky-btn:hover .btn, html .funky-btn:focus .btn, html .funky-btn.focus .btn, html .funky-btn:active .btn, html .funky-btn.active .btn, html .funky-btn:focus-within .btn {
  color: #eeeeee;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
  background: transparent !important;
}

html .funky-btn.inverse .btn {
  color: #eeeeee;
  background: transparent;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
}

html .funky-btn.inverse:hover .btn, html .funky-btn.inverse:focus .btn, html .funky-btn.inverse.focus .btn, html .funky-btn.inverse:active .btn, html .funky-btn.inverse.active .btn, html .funky-btn.inverse:focus-within .btn {
  color: transparent;
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
}

html .funky-btn > .gradient::before,
html .funky-btn .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0));
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0);
}

html .funky-btn.inverse:hover .btn, html .funky-btn.inverse:focus .btn, html .funky-btn.inverse.focus .btn, html .funky-btn.inverse:active .btn, html .funky-btn.inverse.active .btn, html .funky-btn.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0)) !important;
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0) !important;
}

html .funky-btn.icon .btn {
  color: initial;
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  color: #eeeeee;
  background: #333333;
  border-color: transparent;
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):hover {
  border-color: rgba(238, 238, 238, 0.25);
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).focus, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus-within {
  border-color: rgba(238, 238, 238, 0.45);
}

html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):active, html input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).active {
  border-color: rgba(238, 238, 238, 0.6);
}

html.darkmode {
  color: #eeeeee;
  background: #333333;
}

html.darkmode a {
  color: #12d8eb;
}

html.darkmode a:hover, html.darkmode a:focus {
  color: #00a5e7;
}

html.darkmode a:active {
  color: #2c6bc9;
}

html.darkmode .funky-btn {
  /*&:not(.bordered) {
			&::after {
				box-shadow: 0 0 0 $funky-border-size rgba($clr-fg, 0.1) inset;
			}
		}*/
}

html.darkmode .funky-btn::before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), 0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08), 0 32px 64px rgba(0, 0, 0, 0.07);
}

html.darkmode .funky-btn::after {
  background: #333333;
}

html.darkmode .funky-btn > .gradient::after {
  background-color: #eeeeee;
}

html.darkmode .funky-btn .btn {
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

html.darkmode .funky-btn:hover .btn, html.darkmode .funky-btn:focus .btn, html.darkmode .funky-btn.focus .btn, html.darkmode .funky-btn:active .btn, html.darkmode .funky-btn.active .btn, html.darkmode .funky-btn:focus-within .btn {
  color: #333333;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
  background: transparent !important;
}

html.darkmode .funky-btn.inverse .btn {
  color: #333333;
  background: transparent;
  background-clip: initial;
  -moz-background-clip: initial;
  -webkit-background-clip: initial;
}

html.darkmode .funky-btn.inverse:hover .btn, html.darkmode .funky-btn.inverse:focus .btn, html.darkmode .funky-btn.inverse.focus .btn, html.darkmode .funky-btn.inverse:active .btn, html.darkmode .funky-btn.inverse.active .btn, html.darkmode .funky-btn.inverse:focus-within .btn {
  color: transparent;
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
}

html.darkmode .funky-btn > .gradient::before,
html.darkmode .funky-btn .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0));
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0);
}

html.darkmode .funky-btn.inverse:hover .btn, html.darkmode .funky-btn.inverse:focus .btn, html.darkmode .funky-btn.inverse.focus .btn, html.darkmode .funky-btn.inverse:active .btn, html.darkmode .funky-btn.inverse.active .btn, html.darkmode .funky-btn.inverse:focus-within .btn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d3551), color-stop(#325780), color-stop(#007ea4), color-stop(#00a4af), to(#00c8a0)) !important;
  background-image: linear-gradient(to right top, #3d3551, #325780, #007ea4, #00a4af, #00c8a0) !important;
}

html.darkmode .funky-btn.icon .btn {
  color: initial;
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  color: #333333;
  background: #eeeeee;
  border-color: transparent;
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):hover {
  border-color: rgba(51, 51, 51, 0.25);
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).focus, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus-within {
  border-color: rgba(51, 51, 51, 0.45);
}

html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):active, html.darkmode input:not([type="checkbox"]):not([type="radio"]):not([type="range"]).active {
  border-color: rgba(51, 51, 51, 0.6);
}

body {
  height: initial;
}
/*# sourceMappingURL=style.css.map */