// Vars
$base-clr-fg: #333333;
$base-clr-bg: #eeeeee;

$funky-border-size: 0.4rem;
$funky-border-radius: 0.1rem;
$funky-border-rounded: 3.2rem;

// Mixins

@mixin breakpoint($class) {
	@if $class==xs {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $class==sm {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $class==md {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $class==lg {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $class==xl {
		@media (min-width: 1440px) {
			@content;
		}
	} @else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
	}
}

@mixin breakpoint_max($class) {
	@if $class==xs {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $class==sm {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $class==md {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $class==lg {
		@media (max-width: 1439px) {
			@content;
		}
	} @else if $class==xl {
		@media (min-width: 1440px) {
			@content;
		}
	} @else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
	}
}

@mixin transition(
	$property: all,
	$duration: 0.25s,
	$easing: cubic-bezier(0.77, 0, 0.175, 1),
	$delay: 0s
) {
	transition-delay: $delay;
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $easing;
	@media (prefers-reduced-motion) {
		transition: none !important;
	}
}

@mixin funky-btn-bg($bg, $mode: background-image) {
	& > .gradient::before,
	.btn {
		#{$mode}: $bg;
	}
	&.inverse {
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active,
		&:focus-within {
			.btn {
				#{$mode}: $bg !important;
			}
		}
	}
}

@mixin mainpieces() {
	// Main
	html {
		font-family: "Comfortaa", cursive;
		@include transition((color, background), 0.4s);
	}

	html,
	body {
		width: 100%;
		height: 100%;
		position: relative;
	}

	body {
		margin: 0 auto;
		// max-width: 56rem;
	}

	.container {
		padding: 1.6rem;
		position: relative;
	}

	.colours {
		display: flex;
		justify-content: center;
		& > * {
			margin: 0 0.4rem;
		}
	}

	.funky-btn {
		width: auto;
		margin: 0.8rem;
		position: relative;
		display: inline-block;
		&::before {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: -2;
			width: 100%;
			height: 100%;
			content: " ";
			position: absolute;
			@include transition(opacity);
		}
		&::after {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: " ";
			position: absolute;
			transform: scale(1);
			pointer-events: none;
			transform-origin: center;
			@include transition(transform);
		}
		& > .gradient {
			z-index: -1;
			width: 100%;
			height: 100%;
			position: absolute;
			pointer-events: none;
			&::before {
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				content: " ";
				position: absolute;
				@include transition(opacity, 0.025s);
			}
			&::after {
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				content: " ";
				position: absolute;
				@include transition(opacity);
			}
		}
		.btn {
			z-index: 0;
			border: none;
			outline: none;
			cursor: pointer;
			appearance: none;
			font-size: 1.2rem;
			font-weight: bold;
			word-wrap: anywhere;
			font-weight: inherit;
			font-family: inherit;
			padding: 1rem 1.8rem;
			display: inline-block;
			text-decoration: none;
			box-sizing: content-box;
		}
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active,
		&:focus-within {
			& > .gradient::before {
				opacity: 1;
			}
			&::before {
				opacity: 1;
			}
			&::after {
				transform: scale(0);
			}
		}
		&:active,
		&.active {
			&::before {
				opacity: 0.7;
			}
			& > .gradient::after {
				opacity: 0.12;
			}
		}
		&,
		&::before,
		&::after,
		& > .gradient::before,
		& > .gradient::after,
		.btn {
			border-radius: $funky-border-radius;
		}
		&.rounded {
			&,
			&::before,
			&::after,
			& > .gradient::before,
			& > .gradient::after,
			.btn {
				border-radius: $funky-border-rounded;
			}
		}
		&.bordered {
			&::after {
				top: $funky-border-size;
				left: $funky-border-size;
				width: calc(100% - #{$funky-border-size * 2});
				height: calc(100% - #{$funky-border-size * 2});
			}
			& > .gradient {
				&::before {
					opacity: 1;
				}
			}
			.btn {
				padding: 1rem 1.8rem;
				// margin: $funky-border-size;
				// padding: (1rem - $funky-border-size) (1.8rem - $funky-border-size);
			}
		}
		&.inverse {
			&::before {
				opacity: 1;
			}
			&::after {
				transform: scale(0);
			}
			& > .gradient::before {
				opacity: 1;
			}
			&:hover,
			&:focus,
			&.focus,
			&:active,
			&.active,
			&:focus-within {
				& > .gradient::before {
					opacity: 0.3;
				}
				&::before {
					opacity: 0.55;
				}
				&::after {
					transform: scale(1);
				}
			}
			&:active,
			&.active {
				&::before {
					opacity: 0;
				}
				& > .gradient::after {
					opacity: 0;
				}
			}
			&.bordered {
				& > .gradient::before {
					opacity: 1;
				}
			}
		}
		&.action {
			.btn {
				width: 1.2rem;
				height: 1.2rem;
				padding: 1.06rem;
				word-wrap: initial;
			}
		}
		&.icon {
			.btn {
				line-height: 1;
			}
		}
	}

	input {
		&:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
			outline: none;
			margin: 0.8rem;
			appearance: none;
			line-height: 1.1;
			font-size: 1.2rem;
			word-wrap: anywhere;
			border-style: solid;
			border-width: 0.4rem;
			display: inline-block;
			border-radius: 0.1rem;
			word-break: break-word;
			@include transition(border-color);
			padding: #{1rem - 0.4rem} #{1.8rem - 0.4rem};
			&.rounded {
				border-radius: $funky-border-rounded;
			}
		}
	}
}

@mixin colourpieces($darkmode, $clr-fg, $clr-bg) {
	// Colour
	& {
		color: $clr-fg;
		background: $clr-bg;
	}

	a {
		color: #12d8eb;
		&:hover,
		&:focus {
			color: #00a5e7;
		}
		&:active {
			color: #2c6bc9;
		}
	}

	.funky-btn {
		//box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
		&::before {
			// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.08),
			// 	0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.13),
			// 	0 16px 32px rgba(0, 0, 0, 0.17), 0 32px 64px rgba(0, 0, 0, 0.22);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22),
				0 2px 4px rgba(0, 0, 0, 0.17), 0 4px 8px rgba(0, 0, 0, 0.13),
				0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.08),
				0 32px 64px rgba(0, 0, 0, 0.07);
		}
		&::after {
			background: $clr-bg;
		}
		& > .gradient {
			&::after {
				background-color: $clr-fg;
			}
		}
		.btn {
			color: transparent;
			background-clip: text;
			-moz-background-clip: text;
			-webkit-background-clip: text;
		}
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active,
		&:focus-within {
			.btn {
				color: $clr-bg;
				background-clip: initial;
				-moz-background-clip: initial;
				-webkit-background-clip: initial;
				background: transparent !important;
			}
		}
		&.inverse {
			.btn {
				color: $clr-bg;
				background: transparent;
				background-clip: initial;
				-moz-background-clip: initial;
				-webkit-background-clip: initial;
			}
			&:hover,
			&:focus,
			&.focus,
			&:active,
			&.active,
			&:focus-within {
				.btn {
					color: transparent;
					background-clip: text !important;
					-moz-background-clip: text !important;
					-webkit-background-clip: text !important;
				}
			}
		}
		/*&:not(.bordered) {
			&::after {
				box-shadow: 0 0 0 $funky-border-size rgba($clr-fg, 0.1) inset;
			}
		}*/
		@include funky-btn-bg(
			linear-gradient(
				to right top,
				#3d3551,
				#325780,
				#007ea4,
				#00a4af,
				#00c8a0
			)
		);
		&.icon {
			.btn {
				color: initial;
			}
		}
	}

	input {
		&:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
			color: $clr-bg;
			background: $clr-fg;
			border-color: transparent;
			&:hover {
				border-color: rgba($clr-bg, 0.25);
			}
			&:focus,
			&.focus,
			&:focus-within {
				border-color: rgba($clr-bg, 0.45);
			}
			&:active,
			&.active {
				border-color: rgba($clr-bg, 0.6);
			}
		}
	}
}

@include mainpieces();

html:not(.lightmode):not(.darkmode) {
	&::after {
		opacity: 1;
		transition: none;
		pointer-events: all;
	}
}

html {
	&::after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		content: " ";
		z-index: 1024;
		position: absolute;
		pointer-events: none;
		@include transition(opacity, 0.4s, $delay: 0.2s);
		background-color: darken(mix($base-clr-fg, $base-clr-bg), 20%);
	}

	@include colourpieces(0, $base-clr-fg, $base-clr-bg);
}

html.darkmode {
	@include colourpieces(1, $base-clr-bg, $base-clr-fg);
}
